.search-name {
  margin-right: 10px;
}

.search-name__label {
  color: #FFFFFF;
  font-weight: 500;
  margin-right: 5px;
}

.search-name__input {
  width: 150px;
  padding: 7px 7px 7px 7px;
  border: 1px solid #000000;
  border-radius: 4px;
  font-size: 16px;
  background-color: #FFFFFF;
}
