.header {
  padding: 15px 15px;
  background-color: #357EDD;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
  }

  &__nav-list {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &__nav-item {
    list-style: none;
  }

  &__nav-item:not(:last-child) {
    margin-right: 20px;
  }

  &__nav-link {
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
    opacity: 0.5;
  }

  &__nav-link:hover {
    opacity: 1;
  }

  &__nav-link--active {
    opacity: 1;
  }

  &__nav-link:hover.header__nav-link--active{
    opacity: 1;
  }
}
